<mat-drawer-container class="page">
  <mat-drawer mode="side" opened class="sidenav">
<div fxLayout="column" fxLayoutAlign="space-between center" class="sidenav_height1">
        <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="1rem" style="margin-top: 0.6rem;">
 
              <img src="assets/images/menu.svg" style="width:83px;">

            <div fxLayout="column" fxLayoutAlign="center center" class="highlight box1">
              <img src="assets/images/dashboard.svg" width="19px">
              <label class="textclass1">Dashboard</label>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center" class="box">
              <img src="assets/images/document.svg" width="17px">
              <label class="textclass2">Documents</label>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center" class="box">
              <img src="assets/images/in_sign.svg" width="19px">
              <label class="textclass2">In Signing</label>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center" class="box">
              <img src="assets/images/repost.svg" width="19px">
              <label class="textclass2">Reposting</label>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center" class="box">
              <img src="assets/images/settings (2).svg" width="19px" style="opacity: 0.4;">
              <label class="textclass2">Setting</label>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center" class="box">
              <img src="assets/images/classification.svg" width="19px" style="opacity: 0.4;">
              <label class="textclass2">Classification</label>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center" class="box">
              <img src="assets/images/signed.svg" width="19px">
              <label class="textclass2">Signed</label>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center" class="box">
              <img src="assets/images/template.svg" width="19px">
              <label class="textclass2">Template</label>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center" class="box">
              <img src="assets/images/connections.svg" width="19px" style="opacity: 0.4;">
              <label class="textclass2">Connectors</label>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center" class="box">
              <img src="assets/images/notification.svg" width="17px" style="opacity: 0.4;">
              <label class="textclass2">Notification</label>
            </div>
       </div>
       <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="0.6rem" style="width:100%;margin-bottom:0.6rem">
            <div class="hdivider"></div>
            <div fxLayout="row" fxLayoutAlign="space-evenly center" style="width:100%;">
                <img src="assets/images/power.svg" width="14px" >
                <span class="textclass2" >Log Out</span>
            </div>
        </div>
     </div>
  </mat-drawer>
  <mat-drawer-content style="background:white;">
    <mat-toolbar class="toolbar">Document List</mat-toolbar>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

